<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>sign up <%= link_to "here", "www.google.ca", class: "btn btn-warning"%>.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
