<div class="jumbotron">
  <h1><font color="white">Welcome!</font></h1>
  <p><font color="white">sign up <%= link_to "Here", "www.google.ca", class: "btn btn-warning"%> or </font> <<%= link_to "Learn More", "#", class: "btn btn-info"%>
</div>

<p>Find me in app/views/pages/home.html.erb</p>
